body {
  padding: 0;
  margin: 0;
}

.amount {
  .dollar-sign {
    opacity: 0.5;
    margin-right: 5px;
  }

  .amount-decimal {
    font-size: 0.8em;
  }
}

.Dashboard {
  $icon-category-size: 64px;
  $icon-other-size: 36px;

  #graph-container {
    // grow shrink basis
    flex: 1 1 100%;
    overflow: hidden;

    .ListView {
      position: relative;
      height: 100%;
      overflow: auto;

      .scroll-top {
        cursor: pointer;

        padding: 0;
        position: sticky;
        top: 0;
        height: 20px;

        z-index: 3;
      }

      .date-box {
        border-radius: 5px;
        background-color: antiquewhite;
      }

      .Entry {
        margin-bottom: 10px;
        padding-top: 5px;
        font-size: 1.1em;

        cursor: pointer;

        .amount {
          font-size: 1.5em;
          font-weight: bold;
        }
      }

      .EntryIn {
        background-color: aqua;
      }
    }
  }
}
