@import "~bootstrap/scss/bootstrap";

.cursor-pointer {
  cursor: pointer;
}

.word-break {
  word-break: break-word;
}

.amount {
  .dollar-sign {
    opacity: 0.5;
    margin-right: 5px;
  }

  .amount-decimal {
    font-size: 0.8em;
  }
}


.App {
  $summary-min-height: 10%;
  $icon-category-size: 64px;
  $icon-other-size: 36px;

  height: 100vh;

  display: flex;
  flex-flow: column;

  .Summary {
  }

  #graph-container {
    // grow shrink basis
    flex: 1 1 100%;
    overflow: hidden;

    .ListView {
      position: relative;
      height: 100%;
      overflow: auto;

      .scroll-top {
        cursor: pointer;

        padding: 0;
        position: sticky;
        top: 0;
        height: 20px;

        z-index: 3;
      }

      .h-separator {
        height: 5px;
      }

      .category-icon {
        height: $icon-category-size;
        width: $icon-category-size;

        border-radius: $icon-category-size;
      }

      .other-icon {
        height: $icon-other-size;
        width: $icon-other-size;

        border-radius: $icon-other-size;

        margin-right: 5px;
      }

      .date-box {
        border-radius: 5px;
        background-color: antiquewhite;
      }

      .Entry {
        margin-bottom: 10px;
        padding-top: 5px;
        font-size: 1.1em;

        cursor: pointer;

        .amount {
          font-size: 1.5em;
          font-weight: bold;
        }

        .category-name {
          font-size: 0.8em;
        }
      }

      .EntryIn {
        background-color: aqua;
      }

      .EntryOut {
        //background-color: aqua;
      }
    }

    .PieChart {
      background-color: gray;
    }
  }
}

#detail-page {
  position: fixed;
  top: 100px;
  left: 100px;

  height: 200px;
  width: 200px;

  z-index: 99;

  background-color: burlywood;
}